DATABASE_URL="postgresql://neondb_owner:npg_jx8FiJHl9wOp@ep-bold-wildflower-ait1kbve-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_API_URL="http://localhost:8000"
